<div class="blog-card-container" 
    [class.liked]="blog.upvote! > blog.downvote!"
    [class.disliked]="blog.upvote! < blog.downvote!"
>
    <mat-icon *ngIf="blog.upvote! > blog.downvote!" class="vote-state like">thumb_up</mat-icon>
    <mat-icon *ngIf="blog.upvote! < blog.downvote!" class="vote-state dislike">thumb_down</mat-icon>
    <img class="blog-image" [src]="'https://picsum.photos/seed/'+blog._id?.$oid+'/400/400'" alt="">
    <div class="author">
        <img class="avatar" [src]="'https://robohash.org/'+blog.author+'.png'" alt="">
        <div class="name">{{ blog.author }}</div>
    </div>
    <div class="blog-info">
        <div class="title">{{ blog.title }}</div>
        <div class="content">{{ blog.content|truncate }}</div>
        <button mat-raised-button color="primary" [routerLink]="['/blog-details/'+blog._id?.$oid]">Read More</button>
    </div>
    <div class="card-footer">
        <div class="upvotes">{{ blog.upvote || 0 }} Likes</div>
        <div class="downvotes">{{ blog.downvote || 0 }} Dislikes</div>
    </div>
</div>
