
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    box-sizing: border-box;
}

.page-content {
    padding-top: 63px !important;
    .page-inner {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        padding: 16px;
    }
}